<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SciGit_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SciGit_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SciGit_Client.Properties.Settings>
      <setting name="SavedUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="SavedPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="RememberUser" serializeAs="String">
        <value>False</value>
      </setting>
    </SciGit_Client.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SciGit_Client.Properties.Settings>
      <setting name="SciGitHostname" serializeAs="String">
        <value>stage.scigit.sherk.me</value>
      </setting>
      <setting name="SciGitEmail" serializeAs="String">
        <value>team@scigit.com</value>
      </setting>
    </SciGit_Client.Properties.Settings>
  </applicationSettings>
</configuration>