<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SciGit_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SciGit_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SciGit_Client.Properties.Settings>
            <setting name="SavedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyMask" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ProjectDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Loaded" serializeAs="String">
                <value>False</value>
            </setting>
        </SciGit_Client.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SciGit_Client.Properties.Settings>
            <setting name="SciGitHostname" serializeAs="String">
                <value>beta.scigit.com</value>
            </setting>
            <setting name="SciGitEmail" serializeAs="String">
                <value>eric@scigit.com</value>
            </setting>
            <setting name="StageHostname" serializeAs="String">
                <value>stage.scigit.com</value>
            </setting>
        </SciGit_Client.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
